/* You can add global styles to this file, and also import other style files */
@use './app/styles/abstracts/variables';
@use './app/styles/abstracts/mixins';
@use './app/styles/abstracts/breakpoints';

html,
body {
  margin: 0;
  padding: 0;

  font-family: Inter, Roboto, sans-serif;

  background: var(--color-background);

  height: 100%;
}

* {
  box-sizing: border-box;
}
